body {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  color: #ffe600;
  font-weight: bold;
}

header,
section {
  padding: 50px;
}

header {
  background: #ffe600;
  color: #000;
}

.header {
  border-left: 3px solid #000;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
}

.cols {
  /* border: 3px solid green; */
  display: flexbox;
  width: 700px;
  margin: 0 auto;
}

/* Style links */

.section-one {
  background: #000;
  color: #fff;
}

.section-two {
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
}

.section-one-link:hover,
.section-one-link:focus,
.section-two-link:hover,
.section-two-link:focus {
  color: gray;
}

.section-one-link:active,
.section-two-link:active {
  color: firebrick;
}

.section-two-link {
  color: #000;
}

/* button styles */

.btn {
  display: inline-block;
  margin-right: 20px;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
}

.btn-accent {
  background: #ffe600;
  color: #000;
  border: 2px solid #ffe600;
}

.btn-accent:hover {
  background: #000;
  color: #ffe600;
}

.btn-accent:active,
.btn-dark:active {
  padding: 10px 25px;
}

.btn-dark {
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

.btn-dark:hover {
  background: #ffe600;
  color: #000;
}
