body {
  margin: 0;
  font-family: "EB Garamond", serif;
}

h1,
h2,
p {
  margin-top: 0;
  /* font-family: cursive; */
}

h1 {
  font-size: 24px;
  /* font-family: cursive; */
}

p {
  font-size: 18px;
}

a {
  color: #ffe600;
  /* font-family: cursive; */
}

header,
section {
  padding: 50px;
}

header {
  background: #ffe600;
  color: #000;
}

.section-one {
  background: #000;
  color: #fff;
}

.section-two-link {
  color: #000;
}

/* button styles */

.btn {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
}

.btn-accent {
  background: #ffe600;
  color: #000;
  border: 2px solid #ffe600;
}

.btn-accent:hover {
  background: #000;
  color: #ffe600;
}

.btn-dark {
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

.btn-dark:hover {
  background: #ffe600;
  color: #000;
}

/* .btn-yellow:hover {
    background: #000;
    color: #FFE600;
}

.btn-black {
    display: inline-block;
    padding: 12px 25px;
    background: #000;
    color: #FFE600;
    border: 2px solid #000;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
}

.btn-black:hover {
    background: #FFE600;
    color: #000;
} */
